#navbarHead{
    background-color: #364453;
    padding-top:0;
    padding-bottom:0;
    height:42px;
}

.fa{
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
    color: #17b495;
}
.fa fa-reorder{
    padding: 2px;
    color: #17b495;
}
.fa fa-inr{
    padding: 2px;
    color: #17b495;
}
.fa fa-eye{
    padding: 2px;
    color: #17b495;
}
.logo{
    background-color: #eee;
    padding-left:111px;
    height:28px;
}
.pageHeading {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #364453;
    padding-top: 25px;
}
.ml-auto  {
    left: auto !important;
    right: 0px;
  }

  .imagelogo{
    width:100px !important;
}

#search{
    color:white;
}

#searchBid{
    background: transparent;
    border: 0;
    outline:none;
    color: white !important;
}
.searchBidStyle{
    position: absolute;
    right: 228px;
    top: 10px;
    border-bottom: 1px solid grey;
}

img{
    width:17px !important;
    margin-left:10px !important;
}
.dotted_separator {
    content: "";
    display: inline-block;
    width: 0px;
    height: 10px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}


.logo{
    font-family: 'Poppins', sans-serif;
    font-size:14px;
}
body{
    font-family: 'Poppins', sans-serif;
}
#reviewBtn{
    margin-left: 304px;
    border-radius: 20px;
    color: #ffffff;
    background-color: #ec9138;
    border: 1px solid #ffffff;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    line-height: 19px;
}



#approvalBtn{
    border-radius: 20px;
    color: #ffffff;
    background-color:#28a745;
    border: 1px solid #ffffff;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    line-height: 19px;
}
#closeBtn{
    border-radius: 20px;
    color: #ffffff;
    background-color: #dc3545;
    border: 1px solid #ffffff;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    line-height: 19px;
}
#myTab .nav-item {
    border-top: 1px solid #f0f0f1;
    border-right: 1px solid #f0f0f1;
    border-left: 1px solid #f0f0f1;
    
    
}
.nav-tabs .nav-link {
    padding: 10px 22px;;
    color: #495057;
    font-size: 14px !important;
}
.nav-tabs .nav-link.active {
    color: #17b495 !important;
    background-color: #fff !important;
    font-size: 15px !important;
    border-top: 4px solid #17b495 !important;
}
.removBorder{
    width:100%;
    text-align: center;
}

table,th,td{
    background-color: #364453;
   
    border-radius:7px;
    padding-bottom:11px;
    padding-top: 1.5px;
}

th{
    color:white;
}

.panel-body{
    background-color: #17b495;
    color: white;
    padding: 9px;
    border-radius: 7px;
    padding-left: 9px;
}


.draft {
    background-color:#ec9138;
    border: 1px solid#ec9138;
    color: #fff;
    border-color:#ec9138;
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    margin-left: 368px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: .5rem 2rem;
    margin-top:73px;
    }


.submit{
   background-color: #17b495;
   color: #fff;
   border: 1px solid #17b495;
   border-radius: 20px;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   padding: .5rem 2rem;
   font-size: 12px;
   text-align: center;
  }



 

.cancel{
     text-align: center;
     font-size: 12px;
     border-radius:20px;
     border-color: #17b495;
     color:black;
     background-color:white;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
     border: 1px solid #17b495;
     padding: .5rem 2rem;
      }

.footer {
    position: fixed;
    background-color: #17b495;
    color: #fff;
    font-size: 14px;
    padding: 8px;
    height: 40px;
    bottom: 0px;
    width: 100%;
}


#mainGear{
    width:15% !important;
}
#solutionGear{
    width:15% !important;
}
#reviewsGear{
    width:17% !important;
}
#approvalGear{
    width:15% !important;
}
#rfiGear{
    width:17% !important;
}

#hardwareBtn{
    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    margin-top:4px;
    border-top: 3px solid #364453 !important;
    font-size: 14px;
}

#softwareBtn{
    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    font-size: 14px;
}

#reviewer1Btn{
    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    margin-top:4px;
    border-top: 3px solid #364453 !important;
    font-size: 14px;

}

#reviewer2Btn{
    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    margin-top:4px;
    font-size: 14px;
}
#rfi1Btn{
    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    margin-top:4px;
    border-top: 3px solid #364453 !important;
    font-size: 14px;
}


#rfi2Btn{

    border-radius:1px;  
    border-color: #17b495;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #17b495;
    margin-bottom: 4px;
    margin-top:4px;
    font-size: 14px;
    margin-left:6px;

}






th{
    font-weight:normal;
}

#panelHeading1{
text-align: center;
height:38px;
padding:5px; 
border-radius:1px;
color:white; 
background-color:green;
font-size:16px;
}

#panelHeading2{
    text-align: center;
    height:38px;
    padding:5px; 
    border-radius:1px;
    color:white; 
    background-color:#5DADE2  ;
    font-size:16px;
    }
 #panelHeading3{
        text-align: center;
        height:38px;
        padding:5px; 
        border-radius:1px;
        color:white; 
        background-color:#B92805   ;  
        }
  #panelHeading4{
            text-align: center;
            height:38px;
            padding:5px; 
            border-radius:1px;
            color:white;  
            background-color:#C54318   ;
            font-size:16px;
            }







#excel{
width:125% !important;

}

#word{
    width: 50px !important;
    margin-top: 10px;
}

#pdf{
    width: 99% !important;
    margin-top: 9px;
}

#ppt{
    width: 50px !important;
    margin-top: 10px;


}

#helloGrey{
    background-color: #eee;
    width: 255px;
    margin-left: 0px;
}


#date{
    color: #17b495;
    font-size: 12px;
}
#time{
    margin-left: 47px;
    color: #17b495;
    font-size: 12px;
}
#excelHeading{
    color: #17b495;
    margin-top: 14px;
    font-size:14px;
}
#currentVersion{
    font-size: 12px;
    color: black;
    width: 100px;
    margin-top: 0px;
}


#horizontal{
    margin-top: -5px !important;
    margin-bottom: 3px !important;
     
}



#bidImage{
    width: 21px !important;
    margin-left: 21px !important;
    padding-top:2px;
}

#AG{
    border: 2px solid #17b495;
    border-radius: 22px;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    padding: 3px;
    font-size: 12px;
    color: #fff;
    width: 27px;
    margin-right: 0px;
    margin-top: 3px;
    margin-left: 12px;
}




#tableBordered{
    width:100%;
    border: 1px solid grey;
   
    border-radius:0px !important;
   
    
}

.col-md-3{
    margin-top:43px;
}

#sr{
    width:46px;
}

  #select{
    width: 113%;
    border-radius: 4px;
    height: 38px;
    background-color: white;
  }